---
import { getCollection } from "astro:content";
import Service from "../components/Service.astro";
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";

const events = await getCollection("events");
const blogs = await getCollection("blogs");
---

<Layout>
  <h2 class="home-heading">服务导航</h2>
  <div class="service-group">
    <Service
      icon="graduation-cap"
      url="https://man.naosi.org/course/pan/"
      title="资料云盘"
      description="汇集各类学习资料"
    />
    <Service
      icon="compass"
      url="https://man.naosi.org/"
      title="大工生存手册"
      description="大工人的一站式生存指南"
    />
    <Service
      icon="archive"
      url="http://mirror.dlut.edu.cn/"
      title="开源镜像"
      description="开源软件镜像站"
    />
    <Service
      icon="globe"
      url="https://manual.naosi.org/life/network/#dns"
      title="域名解析"
      description="202.118.66.6"
    />
    <Service
      icon="clock-o"
      url="https://manual.naosi.org/life/network/#ntp"
      title="授时服务"
      description="time.dlut.edu.cn"
    />
    <Service
      icon="envelope"
      url="https://naosi-dlut.feishu.cn/mail"
      title="社团邮箱"
      description="社团专用邮箱"
    />
  </div>
  <div class="content-group">
    <div class="events">
      <h2>近期活动</h2>
      {
        events
          .sort((a, b) => {
            return b.data.date - a.data.date;
          })
          .slice(0, 5)
          .map((entry) => (
            <article>
              <h3>
                <a href={`/events/${entry.slug}`}>{entry.data.title}</a>
              </h3>
              <p class="info">
                <i class="fa fa-clock-o" />
                <span>{dayjs(entry.data.date).format("YYYY-MM-DD HH:mm")}</span>
                <i class="fa fa-map-marker" />
                <span>{entry.data.location}</span>
              </p>
              <p>{entry.body.slice(0, 200)}</p>
            </article>
          ))
      }
    </div>
    <div class="blogs">
      <h2>社团博客</h2>
      {
        blogs
          .sort((a, b) => {
            return b.data.date - a.data.date;
          })
          .slice(0, 5)
          .map((entry) => (
            <article>
              <h3>
                <a href={`/blogs/${entry.slug}`}>{entry.data.title}</a>
              </h3>
              <p>{entry.body.slice(0, 200)}</p>
            </article>
          ))
      }
    </div>
  </div>
</Layout>

<style>
  .home-heading {
    font-weight: normal;
    font-size: 1.6rem;
  }

  .home-heading::before {
    content: "# ";
  }

  .service-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
    text-align: center;
  }

  .content-group {
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%;
  }

  .content-group article {
    margin: 16px 0;
  }

  .content-group article h3,
  .content-group article p {
    margin: 6px 0;
  }

  .content-group article .info {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .content-group article .info i:not(:first-of-type) {
    margin-left: 8px;
  }

  @media (max-width: 600px) {
    .content-group {
      grid-template-columns: 100%;
    }
  }
</style>
