---
import dayjs from "dayjs";
import PlainTextWrapper from "./PlainTextWrapper.astro";
import Tag from "./Tag.astro";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"blog"> | CollectionEntry<"events">;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const location = "location" in entry.data ? entry.data.location : undefined;
const tags = "tags" in entry.data ? entry.data.tags : undefined;
---

<div class="my-4">
  <p>
    <a
      class="text-xl text-primary font-bold"
      href={`/${entry.collection}/${entry.id}`}>{entry.data.title}</a
    >
    {
      entry.data.date && (
        <Tag>
          <span class="i-ri-calendar-event-fill" />
          <span>{dayjs(entry.data.date).format("YYYY-MM-DD")}</span>
        </Tag>
      )
    }
    {
      location && (
        <Tag>
          <span class="i-ri-map-pin-2-fill" />
          <span>{location}</span>
        </Tag>
      )
    }
    {tags?.map((tag) => <Tag>{tag}</Tag>)}
  </p>
  <p class="break-words">
    <PlainTextWrapper limit="200">
      <Content />
    </PlainTextWrapper>
  </p>
</div>
