---
import { Icon } from "astro-icon/components";

const { icon, url, title, description } = Astro.props;
---

<div class="service">
  <a class="service-logo" href={url} target="_blank">
    <Icon name={icon} />
  </a>
  <h3 class="icon-align">
    <span>{title}</span>
    <a href={url} target="_blank">
      <Icon name="ri:link" />
    </a>
  </h3>
  <p>{description}</p>
</div>

<style>
  .service {
    color: black;
  }

  .service-logo {
    display: block;
    color: var(--primary);
    font-size: 3rem;
    margin: 16px 0;
  }

  .service h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 10px 0;
  }

  .service a {
    color: var(--primary);
    text-decoration: none;
  }

  .service p {
    font-size: 1rem;
    margin: 10px 0;
  }
</style>
