---
interface Props {
  icon: string;
  href: string;
  title: string;
  description?: string;
}
const { icon, href, title, description } = Astro.props;
---

<div class="flex flex-col items-center m-4">
  <a class={`text-12 text-primary ${icon}`} href={href} target="_blank"></a>
  <div class="flex items-center gap-x-1 text-xl my-2">
    <span>{title}</span>
    <a class="i-ri-link text-primary" href={href} target="_blank"></a>
  </div>
  <div>{description}</div>
</div>
